*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea
.DS_Store
/neo_client*
/neo_server
/server
/client
db.db
/dist
/client_env/.version
data
!data/.keep

# release files
client_config.yml
server_config.yml
exploits

kek*

volumes
